<div class="row">
    <div class="col-md-12">
        {{title}}

    </div>
</div>
@section Vues{
<script src="~/js/vue/activate-in-list.js"></script>
<script>
    const app = new Vue({
        el: `#app`,
        data: {
            title: `Hello`,
            listOfPerson: [
                { id: 1, price:100, name: 'mio' },
                { id: 2, price:65, name: 'shio' },
                { id: 3, price:49, name: 'hio' },
                { id: 4, price:31, name: 'lio' },
            ],
            activate: {}
        }
    }) 
</script>
}