<div class="row">
    <div class="col-md-12">
     {{title}} 
     </div>
</div>
@section Vues{
<script> 
    const app = new Vue({
    el: `#app`,
    data: {
        title: `Hello`
    }
}) 
</script>
}

