<div class="row">
    <div class="col-md-12">
        {{title}}
        <input type="text" v-model="person.fullName" />
        <br/>
        <todo_name v-bind:my_person="person"></todo_name>
    </div>
</div>
@section Vues{
<script>
    Vue.component(`todo_name`, {
        props: [`my_person`],
        template: `
        <div><input type="text" v-model="my_person.fullName" /> <br/><p>{{my_person.fullName}}</p></div>`
        // 
    })
    const app = new Vue({
        el: `#app`,
        data: {
            title: `Hello`,
            message: `mio`,
            person:{fullName:null}
        }
    }) 
</script>
}