<div class="row">
    <div class="col-md-12">
     {{title}} 
     <input type="text" v-model="title"/>
     <my_component v-model="title" ></my_component>
     </div>
</div>
@section Vues{
<script> 
      Vue.component(`my_component`, {
        props:[`value`],
        template: `<div>
            <input type="text" v-bind:value="value" v-on:input="doSomething($event.target.value)"/>
            </div>`,
        methods:{
            doSomething:function(e){
                let result={first:this.firstName,last:this.lastName}
                this.$emit(`input`,e)
            }
        }
    })

    const app = new Vue({
    el: `#app`,
    data: {
        title: `Hello`
    },
    methods:{
        internalButtonClicked:function(myInput){
            alert(`yes clicked me ${myInput.first + "  ---  "+myInput.last}`)
        },
        updateTitle:function(e){
            this.title=e
        }
    }
}) 
</script>
}

