<div class="row">
    <div class="col-md-12">
        {{title}}
        <display-header v-bind:title="myheader"></display-header>
        <ul>
            <todo-item v-for="item in todos"></todo-item>
        </ul>
        <todo-name v-for="item in todosItems" v-bind:key="item.id" v-bind:text="item"></todo-name>
    </div>
</div>
@section Vues{
<script>
    Vue.component(`todo-item`, {
        template: `<li>this is to do item</li>`
    });
      Vue.component(`todo-items`, {
        template: 
        `<ul>
            <todo-item v-for="item in todos"></todo-item>
        </ul>`
    });
    Vue.component(`display-header`, {
        props:[`title`],
        template: `<h2>{{title}}</h2>`
    });
     Vue.component(`todo-name`, {
         props:[`text`],
        template: `<p> {{text.id}}   {{text.name}}</p>`
    });
    const app = new Vue({
        el: `#app`,
        data: {
            title: `Hello`,
            myheader:`my title`,
            todos:[`reqwqw`,` ererer `,`yuyyhjj`],
            todosItems:
            [{id:1,name:`name 1`},{id:2,name:`name 2`},{id:3,name:`name 3`},]
        }
    });
</script>
}